* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.btn {
    padding: 15px;
    font-size: 18px;
    border: none;
    font: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 5px;
}

.calc {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #717171;
}

.calc input {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}